/* Base styling */

#main_body {
    margin: 0 auto; /* Center content horizontally */
    padding: 0 20px; /* Add horizontal padding */
    max-width: 100%; /* Ensure it doesn't exceed the viewport width */
    width: 80%; /* Occupies 80% of the viewport width */
    color: #323232bc; /* Light text for contrast */
    min-height: 100vh; /* Full viewport height */
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Arrange children vertically */
    justify-content: center; /* Center content vertically */
    font-size: 18px; /* Comfortable font size */
    box-shadow: 0 1px 4px rgb(239, 239, 239); /* Subtle shadow for depth */
    background-image: url('media\bg.jpg');
}