/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Header Styling */
header {
    background-color: #343a40; /* Dark background for header */
    color: white;
    padding: 10px 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

header nav .nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav .nav-item {
    margin-left: 20px;
}

header nav .nav-link {
    color: #ffffff; /* White color for links */
    text-decoration: none;
    font-weight: bold;
}

header nav .nav-link:hover {
    color: #ffc107; /* Gold hover color */
}



header .container {
    justify-content: space-between;
    align-items: center;
}

.header > div {
    color: whitesmoke;

}



